
/*education.css file*/

.education-div {
    margin-top: 100px;
}

.education-content {
    font-size: 16px;
    margin-top: 50px;
    font-family: sans-serif;
}

.education-content em {
    font-style: italic;
}

#training-and-education-section {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#training-and-education-section h2 {
    margin-top:100px;
}


.badge-grid-div {
    margin-top: 50px;
}

.badge-grid-div .col {
    padding: 10px;
}

.badge-grid-div img {
    height: 110px;
    width: 110px;
}

/*.sec_plus_badge {*/
/*    height: 120px !important;*/
/*    width: 120px !important;*/
/*}*/



.footer-container {
    margin-top: 50px;

}
