.translucent-nav {
    background: rgba(0, 0, 0, 0.7); /* Adjust the alpha value to make it more or less translucent */
}

/*#banner {*/
/*    background-image: url('../images/design_bannerv2.jpg'); !* Ensure this path is correct *!*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    position: relative;*/
/*    height: 400px; !* Adjust the height as needed *!*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    color: white;*/
/*    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);*/
/*}*/

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.education-div {
    margin-top: 50px;
}

.education-content {
    font-size: 16px;
    margin-top: 50px;
    font-family: sans-serif;
}

.education-content em {
    font-style: italic;
}

#training-and-education-section {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#training-and-education-section h2 {
    margin-top: 100px;
}

.badge-grid-div {
    margin-top: 50px;
}

.badge-grid-div .col {
    padding: 10px;
}

.badge-grid-div img {
    height: 110px;
    width: 110px;
}

.footer-container {
    margin-top: 50px;
}
