/* index.css */
.top-nav-bar {
    position: fixed;
    top: -100px; /* Initially positioned above the viewport */
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure it appears above other content */
    display: block; /* Ensure it is displayed */
}

.footer-container {
    position: relative;
    bottom: -100px; /* Hide it initially below the viewport */
    width: 100%;
    z-index: 1000; /* Ensure it appears above other content */
    transition: bottom 0.75s; /* Smooth transition for bottom property */
}

.hidden {
    visibility: hidden;
}

.headshot-div {
    margin-top: 200px;
}

.jon-head-shot-hi {
    visibility: hidden;
}

.cybersecurity-professional {
    visibility: hidden;
}

.jon-head-shot {
    min-height: 100px;
    max-height: 350px;
}

.footer-container {
    margin-top: 50px;
}

/* Mobile specific styles */
@media (max-width: 768px) {
    .top-nav-bar {
        position: static;
        top: 0;
    }

    .headshot-div {
        margin-top: 65px;
    }

    .footer-container {
        bottom: 0;
        position: relative;
    }

    .hidden {
        visibility: visible;
    }

    .jon-head-shot-hi,
    .cybersecurity-professional {
        visibility: visible;
    }
}
