
/*#top-nav-bar {*/
/*    display: none;*/
/*}*/

.top-nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none; /* Initially hidden */
    z-index: 1000; /* Ensure it appears above other content */
}


.hidden {
    visibility: hidden;
}


.headshot-div {
    margin-top: 200px;
}

/*.hi-jonathan {*/
/*    display: none;*/
/*}*/

.jon-head-shot {
    min-height: 100px;
    max-height: 350px;
}

.footer-container {
    margin-top: 50px;

}

