/* projects.css */
.gradient-background {
    background: linear-gradient(300deg, #000033, #003366, #252525, #212529);
    background-size: 180% 180%;
    animation: gradient-animation 20s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Ensure the container fluid takes up full width */
.container-fluid {
    width: 100%;
    height: 250px;

}

h2 {
    font-family: 'Montserrat', sans-serif;
}

.container-fluid > p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 450;
}

/* Margin for projects section */
.projects-div {
    margin-top: 100px;
}

/* Margin for other projects section */
.other-projects {
    margin-top: 100px;
}

/* Margin for carousel items */
.carousel-inner {
    margin-top: 30px;
}

.margin-top-100 {
    margin-top: 100px !important;
}

/* Standardize font size across all h2 project names */
h2 {
    font-family: 'Montserrat', sans-serif; /* Consistent font family */
    font-size: 30px; /* Consistent font size across all project names */
    color: inherit; /* Ensures color consistency */
    text-align: center; /* Ensures text is centered */
    margin: 0; /* Removes default margin from h2 to control spacing explicitly */
}

/* Base settings for all project links to ensure consistency */
a.project-link, .other-projects a {
    text-decoration: none; /* No underline by default */
    color: inherit; /* Inherits color from parent unless specified */
    display: block; /* Makes the link block level if needed */
}

/* Hover effects for all project links */
a.project-link:hover, .other-projects a:hover {
    text-decoration: underline; /* Underline on hover */
    color: #003366; /* Specific hover color */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    h2 {
        font-size: 25px; /* Smaller font size for mobile to ensure readability and consistency */
    }

    .other-projects a, a.project-link {
        text-decoration: underline; /* Ensures underline is visible on mobile */
        color: #003366; /* Ensures color stands out on mobile */
    }

    .container-fluid {
        height: 125px; /* Adjusts container height for mobile */
    }

    .container-fluid > p {
        font-size: 2rem; /* Adjust to match the HONORS AND ACTIVITIES title */
    }

    .projects-div, .other-projects {
        margin-top: 65px; /* Uniform margin for mobile */
    }

    .margin-top-100 {
        margin-top: 75px !important; /* Ensures consistent spacing */
    }

    /* Hide 'See the Code' buttons in carousels on mobile */
    .carousel-caption a.btn {
        display: none; /* Hides the button */
    }


    #red-empire_carousel, #secure-password-manager_carousel {
        max-width: 100% !important; /* Overrides inline style on mobile for both carousels */
    }
}

/* Styles for project items */
.project-item {
    text-align: center;
    margin-bottom: 20px;
}

.project-item img {
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
}
