html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#skills-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 100px;
}

.containers-with-border {
    border: 3px solid; /* Adjust the border size and color as needed */
    padding: 20px; /* Optional: Add padding inside the border for better spacing */
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    max-width: 900px;
    width: 100%;
    margin-bottom: 60px;
    margin-top: 40px;
}

.cybersecurity-container {
    border-color: #711DB0;
}

.software-development-container {
    border-color: #C21292;
}

.system-network-admin-container {
    border-color: #FFA732;
}

.footer-container {
    margin-top: 50px;
}
